node_modules
npm-debug.log
yarn-error.log
package-lock.json


ya
.env
.env.local
.env.development
.env.production
.env.test


.nodemon.json
*.log

uploads/
coverage/

build/
dist/
out/
.parcel-cache/
.nuxt/ # Nuxt
.next/ # Next.js
.cache/ # Gatsby vb.


.DS_Store

Thumbs.db

.vscode/

*.swp