
node_modules
npm-debug.log
yarn-error.log
package-lock.json


# 2. ÇEVRE DEĞİŞKENLERİ VE GİZLİ ANAHTARLAR 
ya
.env
.env.local
.env.development
.env.production
.env.test


# 3. BACKEND (NODE.JS/EXPRESS) İÇİN HARIÇ TUTULACAKLAR

# Eğer backend kodunuzu derleme (compile) sonucu başka bir klasöre atıyorsanız
# dist/
# build/
# out/


.nodemon.json
*.log

# 4. FRONTEND (REACT/VUE/ANGULAR/BAŞKA) İÇİN HARIÇ TUTULACAKLAR

build/
dist/
out/
.parcel-cache/
.nuxt/ # Nuxt
.next/ # Next.js
.cache/ # Gatsby vb.


.DS_Store

Thumbs.db

.vscode/

*.swp